In [1]:
import pandas as pd

In [2]:
df = pd.read_json("./json/Architecture/batch_16_cgpi.json")

In [3]:
df

,Rank,G_rank,Name,Rollno,Gender,Year,Cgpa,Sgpa,Points,Branch
0,1,0,DIVYA SINGH,16632,,4,9.44,9.32,1623,Architecture
1,2,0,SHIVANI GULERIA,16610,,4,8.51,8.84,1464,Architecture
2,3,0,MANISH AGRI,16609,,4,8.48,8.28,1459,Architecture
3,4,0,UMESH THAKUR,16634,,4,8.38,8.28,1442,Architecture
4,5,0,ANIKSHA SHARMA,16626,,4,8.09,8.84,1391,Architecture
5,6,0,ANKIT KUMAR,16622,,4,7.95,8.48,1368,Architecture
6,7,0,KRIT SHARMA,16614,,4,7.68,8.32,1321,Architecture
7,8,0,MANISH THAKUR,16607,,4,7.61,7.72,1309,Architecture
8,9,0,PRINCE MISHRA,16616,,4,7.59,8.16,1306,Architecture
9,10,0,NIHARIKA BARWAL,16608,,4,7.54,8.48,1297,Architecture
10,11,0,SHIVAM SHARMA,16621,,4,7.54,8.08,1297,Architecture
11,12,0,SANJIB KUMAR SIKDER,16612,,4,7.53,8.32,1295,Architecture
12,13,0,RIYA SINGH,16602,,4,7.40,8.28,1272,Architecture
13,14,0,ADARSH TANWAR,16625,,4,7.35,7.48,1265,Architecture
14,15,0,TABA TAPU,16631,,4,7.35,7.36,1264,Architecture
15,16,0,ARUN SANKHYAN,16603,,4,7.19,7.16,1237,Architecture
16,17,0,TARUN KUMAR,16630,,4,6.97,8.00,1198,Architecture
17,18,0,ANKIT BHARDWAJ,16619,,4,6.97,7.72,1199,Architecture
18,19,0,TANSHUL SAINI,16613,,4,6.94,7.72,1194,Architecture
19,20,0,ABHISHEK SHARMA,16624,,4,6.73,6.80,1158,Architecture
20,21,0,ANANYA SHARMA,16606,,4,6.70,6.96,1153,Architecture
21,22,0,SIMRAN MATTU,16629,,4,6.65,7.88,1144,Architecture
22,23,0,KRITI CHAUHAN,16620,,4,6.61,7.32,1137,Architecture
23,24,0,AMAN HEER,16623,,4,6.37,5.60,1096,Architecture
24,25,0,ANISH DHIMAN,16615,,4,6.34,5.44,1090,Architecture
25,26,0,DEVASHISH SHARMA,16601,,4,6.30,6.24,1084,Architecture
26,27,0,SHREY ASATI,16628,,4,6.09,7.40,1047,Architecture
27,28,0,PARAS DHILLON,16611,,4,5.21,6.04,896,Architecture
28,29,0,AKSHAY KUMAR,16633,,4,4.88,3.64,840,Architecture
29,30,0,VIKAS KUSHWAHA,16627,,4,4.49,6.04,772,Architecture
30,31,0,TSEWANG MUTUP,16617,,4,4.44,1.36,763,Architecture
31,32,0,JAYDEEP AMETA,16618,,4,4.41,4.56,758,Architecture
32,33,0,ISHANT,16604,,4,3.06,0.00,330,Architecture
33,34,0,SHREYA ANEJA,16605,,4,0.00,0.00,0,Architecture

In [16]:
pf=pd.read_json("./json/Electrical/batch_18_cgpi.json")

In [17]:
pf.head()

,Rank,G_rank,Name,Rollno,Gender,Year,Cgpa,Sgpa,Points,Branch
0,1,0,MUSKAN GAUTAM,182041,,2,9.47,9.73,559,Electrical
1,2,0,ABHA GUPTA,182072,,2,9.37,9.64,553,Electrical
2,3,0,SUKRITI MOHAN,182055,,2,9.36,9.64,552,Electrical
3,4,0,ABHISHEK,182002,,2,9.07,9.45,535,Electrical
4,5,0,KRITIKA SRIVASTAVA,182042,,2,9.07,9.32,535,Electrical

In [18]:
pf[pf['Rank']==21]

,Rank,G_rank,Name,Rollno,Gender,Year,Cgpa,Sgpa,Points,Branch
20,21,0,KAUSTUBH BHATT,182012,,2,8.19,8.68,483,Electrical